@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: newyork;
    src: url(fonts/NewYork\ PERSONAL\ USE.otf);
}
@font-face {
    font-family: rottaries;
    src: url(fonts/Rottaries-Regular.otf);
}
body {
    background:
#C9FF72;
    margin:0;
}
header {
    background:black;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    min-height:120px;
    display:flex;
    justify-content: space-between;
    padding-bottom: 5vh;
    padding-top: 5vh;
}
header h2{
  padding:0px 40px;
}
header a{
    color: 
#C9FF72;
    text-decoration:none;
}
header .logotype {
    flex:75%;
}
header nav {
    flex:25%;
    padding-right:60px;
    margin-top:80px;
}
nav ul {
    margin:0;
    display:flex;
    list-style:none;
      
}
nav li {
    padding-left:20px;
    white-space:nowrap;
}
nav a {
    padding:8px 16px;
    border-radius:18px;
    border:1px solid black;
}
nav a.active, nav a:hover {
    border:1px solid #C9FF72;     
}
.button, .button-left, .button-right, .button-right-dark{
  background: #C9FF72;
  padding: 15px;
  border-radius: 30px;
  text-align: center;
}
.button-left{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  text-align: left;
  padding-left: 10px;
}
.button-right, .button-right-dark{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  text-align: right;
  padding-right: 10px;
}
.button-right-dark{
  border: 1px solid #C9FF72;
  background: black;
}
.button a, .button-left a, .button-right a, .button-right-dark a{
  text-decoration: none;
}
.button h2, .button-left h2, .button-right h2{
  color: black;
}
.home {
  display: flex;
}
.home img{
  width: 60vw;
  border-radius: 400px;
}
.home-left{
  flex: 2;
  padding: 60px
}
.home-right{
  padding: 60px;
}
h1 {
    color: #C9FF72;
    font-family: newyork, cursive;
    font-weight: 100;
    white-space: nowrap;
    margin:0;
    padding:10px 40px 0 40px;
}
h2 {color: #C9FF72;
    font-family: rottaries;
   margin:0;
   white-space: nowrap;}
p, li {
  font-family: swear-display, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14pt;
}
.homepage{
  background: black;
}
.info {
  display: flex;
  margin: auto;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vh;
  justify-content: space-between;
  background: black;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  min-height:120px;
}
.info div{
  width: 30vw;
}
.info li, footer p, .homepage p, .homepage li{
  color: #C9FF72;;
}
.right-list{
  text-align: right;
  list-style-type: none;
}
.studios footer{
  background: black;
  padding: 20px;
  text-align: right;
  display: flex;
  margin: 0;
  justify-content: space-between;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 10vh;
}
.booking{
  background: black;
}
.booking-buttons{
  display: flex;
  margin: auto;
  justify-content: space-around;
  padding-top: 15vh;
  padding-bottom: 15vh;
}
.booking-buttons div{
  width: 20vw;
}
.booking footer{
  background: #C9FF72;
  display: flex;
  margin: 0px;
  justify-content: space-between;
  padding: 5vh;
}
.booking footer p, .booking footer li, .booking footer h2{
  color: black;
}
   .slider {
    width: 70vw;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .byline {
    text-align: center;
  }
  
  .slide-content .img-content {
    width: 60%;
    margin: auto;
  }
  
  .slide-content img {
    width: 100%;
    border-radius: 50%;
  }
  .slick-prev:before,
  .slick-next:before {
    color: #333;
  }
  .three-imgs {
    display: flex;
    margin: auto;
  }
  .three-imgs img {
    flex: 1;
    width: 30vw;
    border-radius: 50%;
    padding: 20px;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
  .show-slides {
    display: none;
  }
  /* slider styles end here */
  @media screen and (max-width: 520px) {
    .show-slides {
      display: block;
    }
    .three-imgs {
      display: none;
    }
  }
  